
.App {
  padding: 24px;
  height: 100vh;
  background: linear-gradient(190deg, #2E335A, #1C1B33);
  font-family: 'SF UI Display', serif;

}

.weather{
  max-width: 390px;
}

.weather-wrapper{
  position: relative;
}


.weather-details{
  background-image: url("./assets/rectangle.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 174px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  margin-top: 20px;
}

.weather-details-text{
  color: #fff;
}

.historical-weather-details .weather-details-text{
  color: lightslategray;
}

.historical-weather-details {
  display: flex;
}



.weather-details-text.temp{
  font-size: 64px;
}

.weather-details-icon{
  position: absolute;
  top: 0;
  right: 0;
}

.location{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}


.compass {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
  /*position: relative;*/
  color: #555;
  text-shadow: 1px 1px 1px white;
  align-self: center;
  /*margin-top: 20px;*/
  position: absolute;
  top: 196px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.compass:before {
  font-weight: bold;
  position: absolute;
  text-align: center;
  width: 100%;
  content: "N";
  font-size: 14px;
  top: -2px;
}

.compass .direction {
  height: 100%;
  width: 100%;
  display: block;
  background: #f2f6f5;
  background: -moz-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
  background: -webkit-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
  background: -o-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
  background: linear-gradient(to bottom, #f2f6f5 0%, #cbd5d6 100%);
  border-radius: 50%;
}

.compass .direction p {
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 80px;
  display: block;
  margin-top: -45px;
  font-size: 28px;
  font-weight: bold;
}

.compass .direction p span {
  display: block;
  line-height: normal;
  margin-top: -24px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: normal;
}

.compass .arrow {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
}

.compass .arrow:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid red;
  position: absolute;
  top: -6px;
  left: 50%;
  margin-left: -5px;
  z-index: 99;
}

.compass .arrow.nne { transform: rotate(22.5deg); }
.compass .arrow.ne { transform: rotate(45deg); }
.compass .arrow.ene { transform: rotate(67.5deg); }
.compass .arrow.e { transform: rotate(90deg); }
.compass .arrow.ese { transform: rotate(112.5deg); }
.compass .arrow.se { transform: rotate(135deg); }
.compass .arrow.sse { transform: rotate(157.5deg); }
.compass .arrow.s { transform: rotate(180deg); }
.compass .arrow.ssw { transform: rotate(202.5deg); }
.compass .arrow.sw { transform: rotate(225deg); }
.compass .arrow.wsw { transform: rotate(247.5deg); }
.compass .arrow.w { transform: rotate(270deg); }
.compass .arrow.wnw { transform: rotate(292.5deg); }
.compass .arrow.nw { transform: rotate(315deg); }
.compass .arrow.nnw { transform: rotate(337.5deg); }

