
.App {
  text-align: center;
  padding: 24px;
  background: linear-gradient(190deg, #2E335A, #1C1B33);
  font-family: 'SF UI Display', serif;

}

.weather-wrapper{
  position: relative;
}


.weather-details{
  background-image: url("./assets/rectangle.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 174px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  margin-top: 20px;
}

.weather-details-text{
  color: #fff;
}

.historical-weather-details .weather-details-text{
  color: lightslategray;
}

.historical-weather-details {
  display: flex;
}



.weather-details-text.temp{
  font-size: 64px;
}

.weather-details-icon{
  position: absolute;
  top: 0;
  right: 0;
}

.location{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

